input[type=text] {
  max-width: 420px;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: .3s;
  width: 100%;
}

input[type=text]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

.label-text {
  font-weight: bold;
}

.customText-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5px;
}