.app-bar-container {
    display: flex;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    top : 0;
    left: 0;
    right: 0;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: aqua; */
    align-items: center;
    border-bottom: 1px solid black;
}

.app-bar-title-text {
    font-size: 22;
    font-weight: bolder;
}

.app-bar-button {
    max-width: 120px;
    height: 90%;
}

.main-container {
    margin-top: 50px;
    display: flex;
    height: calc(100vh - 50px);
    /* background-color: red; */
}


.appLayout-main {
    height: calc(100vh - 50px);
    ;
}